#header,#panel,#tabs{
	background: transparent;
	border-color: #eeeeee;
	color: #eeeeee;
}

#error2text.active{
	background: #ff4444;
}

.tab,.tab-close{
	background: #ff4444;
	border-left-color: #eeeeee;
	border-top-color: #eeeeee;
	border-right-color: #eeeeee;
	border-bottom-color: #ff4444;
	color: #eeeeee;
}

.tab.inactive,.tab-close.inactive{
	border-bottom-color: #eeeeee;
}

body,#input,#add-tab,#tab-left,#tab-right,#panel button,#shortcuts-list li{
	background: #ff4444;
	border-color: #eeeeee !important;
	color: #eeeeee;
}

#shortcuts-list, #themes-list{
	background: #eeeeee;
	border-color: #ff4444;
}
#shortcuts-list, #themes-list p{
	color: #ff4444;
}

#canvas{
	visibility: hidden;
}